! vim:ft=xdefaults:

!!! xft
Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault
Xcursor.theme: macOSBigSur

!!! st
st.font:                        Caskaydia Cove Nerd Font Mono:pixelsize=16
st.borderpx:                    40

!!! colors
*background: #282828
*foreground: #d4be98
*color0:  #32302f
*color8:  #32302f
*color1:  #ea6962
*color9:  #ea6962
*color2:  #a9b665
*color10: #a9b665
*color3:  #e78a4e
*color11: #e78a4e
*color4:  #7daea3
*color12: #7daea3
*color5:  #d3869b
*color13: #d3869b
*color6:  #89b482
*color14: #89b482
*color7:  #d4be98
*color15: #d4be98
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!*background: #fbf1c7
!*foreground: #654735
!*color0:  #fbf1c7
!*color8:  #fbf1c7
!*color1:  #c14a4a
!*color9:  #c14a4a
!*color2:  #6c782e
!*color10: #6c782e
!*color3:  #c35e0a
!*color11: #c35e0a
!*color4:  #45707a
!*color12: #45707a
!*color5:  #945e80
!*color13: #945e80
!*color6:  #4c7a5d
!*color14: #4c7a5d
!*color7:  #654735
!*color15: #654735
