!-- Xft settings -- !
Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

!--urxvt--!
URxvt*.font: xft:Fira Code:size=13
URxvt.depth: 32
URxvt.scrollBar: false
URxvt.internalBorder:  30
URxvt*termName: xterm-256color
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.pointerBlank: true

!--colorz--!
*foreground: #e8e8e8
*background: #1c1f27
*cursorColor: #e8e8e8
*color0: #1c1f27
*color8: #6e717b
*color1: #ed858a
*color9: #ed858a
*color2: #85edb3
*color10: #85edb3
*color3: #eda685
*color11: #eda685
*color4: #85b8ed
*color12: #85b8ed
*color5: #ca85ed
*color13: #ca85ed
*color6: #85e8ed
*color14: #85e8ed
*color7: #e8e8e8
*color15: #e8e8e8
